# Data Science Tools and Ecosystem

## Author
Jean-Claude KRIJESTORAC

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
- List few Data Science languages
- List few Data Science tools
- Execute basic arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

### Some of the commonly used libraries used by Data Scientists include:
* For Python :
    1. Panda
    2. Numpy
    3. Matplotlib
    4. Seaborn
    5. Scikit-learn
* For R :
    1. dplyr
    2. ggplot2
    3. tidyr
    4. caret

| Data Science Tools |
|--------------------|
|JupyterLab|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

In [3]:
3*4+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335